body {
  background-image: url("../img/hal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.container {
 text-align: center;
 font-size: 22px;
 color: blue;
 margin-left: auto;
 margin-right: auto;
 max-width: 1000px;
 padding-left: 10%;
 padding-right: 10%;
}


}

.h1 {
  text-align: center;
  color: red;
}
