body {
  background-image: url("../img/hal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.container {
 text-align: center;
 font-size: 30px;
 color: blue;
}

.h1 {
  text-align: center;
  color: red;
}
